<div class="container">
    <h5>Update Booking</h5>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="scheduleId">Schedule ID:</label>
        <input type="text" id="scheduleId" name="scheduleId" [(ngModel)]="booking.scheduleId" required>
      </div>
      <div class="form-group">
        <label for="passengerId">Passenger ID:</label>
        <input type="text" id="passengerId" name="passengerId" [(ngModel)]="booking.passengerId" required>
      </div>
      <div class="form-group">
        <label for="seatNumber">Seat Number:</label>
        <input type="number" id="seatNumber" name="seatNumber" [(ngModel)]="booking.seatNumber" required>
      </div>
      <button type="submit">Update Booking</button>
    </form>
  </div>
  