.container {
  width: 100%;
  padding: 20px;

}

.airport-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; /* Center the cards horizontally */
  position: relative;
  left: -20px;
}

.airport-card {
  background-color: #f0f0f0;
  border-radius: 10px;
  margin: 10px;
  padding: 15px; /* Reduce padding */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 20px); /* Adjust the width to fit three cards */
  max-width: 300px; /* Limit the maximum width of each card */
  align-items: center;
  justify-content: center; /* Center the cards horizontally */

}

.airport-details {
  margin-bottom: 10px;
}

.airport-actions button {
  margin-right: 10px;
}

/* Custom styles for mat-icon */
.mat-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
}


.header-div {
  background-color: #edf8f7;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  right: 15px;
}

.heading {
  font-size: 35px;
  font-weight: bold;
  color: #1dcebf;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
}
